@model List<Sklep>
@{

}
<div class="text-center"><h1>Koszyk:</h1></div>
@if (Model is not null)
{
    <div>
        <table class="table">
            <thead>
            <th scope="col" style="width:28%">ID</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Cena</th>
            <th scope="col">Ilość</th>
            <th scope="col">Wartość</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            </thead>
            @foreach (var produkt in Model)
            {

                <tr>
                    <td style="font-weight:bold">@produkt.Id</td>
                    <td>@produkt.Nazwa</td>
                    <td>@produkt.Cena zł</td>
                    <td>@produkt.Stan</td>
                    <td>@(produkt.Cena * @produkt.Stan) zł</td>
                    <td style="width: 5%"><a href="/Sklep/ProductEdit?Id=@produkt.Id" class="btn btn-success">Edytuj</a></td>
                    <td style="width: 5%"><a href="/Sklep/ProductDelete?Id=@produkt.Id" class="btn btn-danger">Usuń</a></td>                    
                </tr>

            }
        </table>
    </div>
}

